.filme-info{
    display: flex;
    flex-direction: column;
    width: 900px;
}

.filme-info img{
    border-radius: 20px;
}

.filme-info button{
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    border:0;
    outline: none;
    font-size: 20px;
    padding:12px;
    transition: all 0.3s;
}

.filme-info button:hover{
    background-color: #556644;
    color:#fff
}

.filme-info a{
    text-decoration: none;
    color: #000;
}

.filme-info a:hover{
    background-color: #556644;
    color:#fff
}




